* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --head-font: "Erica One", serif;
  --body-font: "Plus Jakarta Sans", serif;
  --head-weight: 400;
  --head-style: normal;
  --border-radius: 62px;

  /* Colors */
  --leave-green: #70865E;
  --black: #000000;
  --white: #FFFFFF;
  --beige: #EDE1B5;
  --forest-green: #394823;
}

body, html {
  overflow-x: hidden;
}

h1, h2 {
  font-family: var(--head-font);
  font-weight: var(--head-weight);
  color: var(--forest-green);
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.notes-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  max-width: 1200px;
  padding: 20px;
}

.note-item {
  margin-bottom: 30px;
}

.note-item h2{
  color: var(--white);

}

.card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.note-card {
  background-color: var(--forest-green);
  color: var(--white);
  padding: 20px;
  border-radius: var(--border-radius);
  width: calc(33% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-card h2 {
  margin-bottom: 10px;
}

.view-more-btn {
  background-color: var(--white);
  color: var(--leave-green);
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  text-align: center;
  font-size: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.view-more-btn:hover {
  background-color: var(--leave-green);
  color: var(--white);
}

.view-more-btn:focus {
  outline: 3px solid var(--leave-green);
}

.loading-state {
  font-size: 1.5rem;
  color: var(--forest-green);
  text-align: center;
  animation: fadeIn 2s ease-in-out infinite;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .note-card {
    width: 100%;
  }

  .card-section {
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .note-card {
    width: calc(33% - 20px);
  }
}
 ul {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1rem;
  text-align: left;
  line-height: 1.6;
  font-family: var(--body-font);
}

li {
  margin-bottom: 10px;
}

motion.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh; /* Ensures the section takes up the full viewport height */
}


.markdown-content{
font-family: var(--body-font);
font-size: 1rem;
max-width: 55ch;
margin: 0 auto; 
text-align: left;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p, ul {
    font-size: 1rem;
  }
}

/* Larger Screens */
@media (min-width: 769px) {
  section {
    padding: 40px;
  }
}